h1.title {
    position: relative;
    font-size: 75px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:1px;
}

#section {
    width: auto;
    float:left;
    padding:10px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

#s1 {
    font-size: 50%;
    background-color: yellow;
}

#s2 {
    font-size: 210%;
    background-color: red;
}

#s3 {
    font-size: 105%;
    background-color: black;
    color:white;
}

#s1:hover, #s2:hover, #s3:hover {
    font-weight: bold;
}